__pycache__/
_build/
examples-src/
Thumbs.db
.eggs/
.venv/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.py[co]
*.mo
*.toc
*.DS_Store
*.vscode/
.ipynb_checkpoints/
.env
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc
*.pyo
*.whl
*.egg
*.tar.gz
*.zip
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache
